/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style */

@font-face {
    font-family: caveat;
    src: url(caveat.ttf) format(truetype);
}

body {
    font: 16px/28px arial,sans-serif;
    background-image: url(moroccan-flower-dark.webp);
    color:#333 ;
}

nav {
    background-image: linear-gradient(#066ec7, #2c859e);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-wrap: wrap;
    overflow: auto;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999
}

nav img {
    border-radius: 3px;
    width:40px; 
    height:40px; 
    margin: 10px -15px -5px 20px;
}

label.logo {
    color: white;
    font-family: caveat;
    font-size: 40px;
    line-height: 70px;
    padding: 0 30px;
    font-weight: bold;
    text-shadow: 0 3px 1px black;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 17px;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
} 

nav ul li a:hover{
    background-color: #1b9bff;
    transition: 0.5s;
}


.container {
    background-color:#2c859e;
    width: 800px;
    margin: 80px auto;
    position: relative;
}

.header {
    padding: 20px;
    padding-bottom: 8px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;

}

.header ul li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
}

.header a {
    text-decoration: none;
    color: #63faf6;
    padding: 5px;
    border-radius: 25%;
}

.header a:hover {
    background-color: lightblue;
    color: white;
    transition: 0.5s;
}

.hero {
    height: 330px;
    width: 700px;
    margin: auto;
    background-image: url(yasir.png);
    background-size: cover;
    background-position: 0 -120px;
}


.content {
    padding: 20px; 
}

.footer {
    background-color: #333;   
    padding: 7px;
    text-align: center;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}

.footer .sosmed {
    display: inline-block;
    color:white;
    text-align: left;
}

.footer a {
    text-decoration: none;
    color: #63faf6;
    display: inline-block;
    text-align: center;
}

.footer ul li {
    display: inline-block;
    text-align: left;
    padding: 10px;
}

